<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<div class="container">
    <%
    if(success){%>
    <div class="alert alert-success" role="alert">
        <%=success%>
    </div>
    <%}
    %>


</div>
</body>
</html>