<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<div class="container">
    <%
    if(success){%>
    <div class="container alert alert-success text-center" role="alert" style="font-size: 20px">
        <%=success%>
    </div>
    <%}
    %>


</div>
</body>
</html>